
/****************************
About Section
****************************/
#about {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    background-color: whitesmoke;
}

.about-panel {
    visibility: visible; 
    -webkit-animation-delay: 0.1s; 
    -moz-animation-delay: 0.1s; 
    animation-delay: 0.1s;
}

.image {
    height: 478px;
    width: 350px;;
    margin-bottom: 5.5em;
    margin-left: -7em;
    border: 5px solid black;
    padding: 3px;   
}

.section-title {
    text-align: center;
}

.lead {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 25px;
}

.progress {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p, .lead {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 19.3px;
}
