/* ------------------------------
Portfolio Section
--------------------------------*/
#portfolio {
    background:#333;
    background: linear-gradient(110deg, #333, grey);
    padding: 12px 0;
    color: whitesmoke;
    text-align: center;
}
  
#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 50%;
}

.section-title {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-left: -0.3em;
    font-size: 40px;
}

.col-md-3 {
    margin-left: 5.2em;
    border-radius: 50%;
}
  
#portfolio .portfolio-item .details {
    height: 260px;
    background: #333;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.8s;
    text-align: center;
}
  
#portfolio .portfolio-item .details h4 {
    font-size: 30px;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: whitesmoke;
    margin-top: 1.3em;
}
  
#portfolio .portfolio-item:hover .details {
    opacity: 0.8;
}
  
  .mfp-title {
    text-align: center;
    padding: 5px 5px;
  }

#myCarousel {
    margin-top: 2em;
    object-fit: cover;
    margin-left: 20em;
    margin-right: 20em;
}

.sub-header {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-top: 11em;
    margin-right: 0em;
    font-size: 35px;
}




