/* ABOUT */
#about_container {
  text-align: center;
  height: 100vh;
  width: 85vw;
  box-sizing: border-box;
  margin: 0;
  background-color: whitesmoke;
  color: #222;
}

/* DEV */
#dev_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  font-family: rejova;
  font-size: 2rem;
}

/* GRAPHIC DESIGN */
#graphicDesign_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85vw;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  font-family: rejova;
  font-size: 2rem;
}

/* PHOTOGRAPHY */
#photography_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85vw;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: rejova;
}

/* CONTACT */
#contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85vw;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  font-family: rejova;
  font-size: 2rem;
}