.dev_heading {
  position: absolute;
  top: 1.25em;
  left: 20%;
  font-size: 3rem;
}

@media screen and (max-width: 435px) {
  .dev_heading {
    font-size: 2rem;
  }
}

.parallax_container {
  top: 0;
  left: 0;
  scroll-behavior: smooth;
}

.parallax_dev_info {
  font-size: 1.4rem;
  color: #737070;
  transition: transform .2s;
  pointer-events: all;
}

@media screen and (max-width: 550px) {
  .parallax_dev_info {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 435px) {
  .parallax_dev_info {
    font-size: 1rem;
  }
}

.parallax_dev_info:hover {
  transform: scale(1.2);
}

.tooltip_container {
  position: absolute;
  bottom: 4em;
  left: 20%;
}

.tooltip_button {
  border-color: #737070 !important;
  color: #222 !important;
}

.tooltip_button, .nextui-button--hovered:hover {
  background-color: #737070 !important;
  border-color: none !important;
  color: whitesmoke !important;
}

.parallax_dev_info_container {
  display: flex;
}

.parallax_container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: rejova;
  line-height: 0px;
  /* text-transform: uppercase; */
}

.number {
  font-size: 300px;
  color: #9E9C9C;
  position: absolute;
  left: 12.5%;
}

@media screen and (max-width: 550px) {
  .number {
    font-size: 225px;
  }
}

@media screen and (max-width: 435px) {
  .number {
    font-size: 175px;
  }
}

.number span {
  display: inline-block;
  position: relative;
}

.slopeBegin {
  clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(80% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.grey {
  background: #C9C7C7;
}
