.gd-container {
  height: 60%;
  width: 70%;
  
  @media screen and (max-width: 435px) {
    width: 95%;
  }

  .gd-heading {
    margin-top: -1em;
    font-size: 3rem;

    @media screen and (max-width: 435px) {
      font-size: 2rem;
    }
  }
}

.gd-card-container {
  height: 88.5%;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 50px #222;
  border-radius: 5px;
}

.gd-card-container .gd-card-left {
  width: 100%;
  height: 100%;
  background-color: #5E5F5F;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 5px 0 0 5px;

  p {
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;

    @media screen and (max-width: 435px) {
      font-size: 1rem;
      padding: 0.5em;
    }
  }
}

.gd-card-container .gd-card-right {
  width: 100%;
  height: 100%;
  background-color: #CACACA;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 0px 5px 5px 0px;

  p {
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;

    @media screen and (max-width: 435px) {
      font-size: 1rem;
      padding: 0.5em;
    }
  }
}

.gd-card-container .gd-card-left:hover {
  background-image: url('https://res.cloudinary.com/maynardz/image/upload/v1678411376/Photography/IMG_0999_gog8xa.jpg');
  background-size: cover;
  background-position: center center;

  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s;
  animation: fadein 2s;

  p {
    display: none;
  }
}

.gd-card-container .gd-card-right:hover {
  background-image: url('https://res.cloudinary.com/maynardz/image/upload/v1678411374/Photography/IMG_4203_xcbmn9.jpg');
  background-size: cover;
  background-position: center center;

  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s;

  p {
    display: none;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}