.gd-card-container {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1070px) {
  .gd-card-container {
    flex-direction: column;
  }
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

  &:hover {
    border: 1px solid white;
  }
}

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url('https://res.cloudinary.com/maynardz/image/upload/v1678411374/Photography/IMG_5352_tu4k92.jpg') center center no-repeat;
  background-size: 300px;

  &:hover {
    background: url('https://res.cloudinary.com/maynardz/image/upload/v1678411374/Photography/IMG_5352_tu4k92.jpg') center top no-repeat;
    background-size: 600px;

    #gd-card-header {
      opacity: 1;
    }
  }
}

.card1 {
  background: url('https://res.cloudinary.com/maynardz/image/upload/v1678411377/Photography/IMG_3161_fzq6w2.jpg') center left no-repeat;
  background-size: 400px;

  &:hover {
    background: url('https://res.cloudinary.com/maynardz/image/upload/v1678411377/Photography/IMG_3161_fzq6w2.jpg') left center no-repeat;
    background-size: 600px;

    #gd-card-header {
      opacity: 1;
    }
  }
}

#gd-card-header {
  font-family: rejova;
  font-size: 1.4rem;
  color: #222;
  margin: 10px;
  opacity: 0;
  transition: opacity 1s;
}