.about-heading {
  font-size: 3rem;
}

@media screen and (max-width: 435px) {
  .about-heading {
    font-size: 2rem;
  }
}

.about-info-container {
  display: flex;
  height: 60vh;
  width: 100vw;
}

.about-img-container {
  background-image: url('https://res.cloudinary.com/maynardz/image/upload/v1678507832/Photography/IMG-0286_olly6i.jpg');
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);
  height: 100%;
  width: 30%;
}

.about-img-container:hover {
  filter: grayscale(0%);
}

.about {
  height: 100%;
  width: 70%;
  font-size: 1.2rem;
  padding-right: 2em;
}

@media screen and (max-width: 435px) {
  .about {
    padding-right: 0.5em;
    font-size: 1rem;
  }
}

.blurb {
  text-align: right;
  width: 150px;
  float: right;
  /* margin-top: 7.5em; */
}

.blurb-heading {
  font-size: 1.2rem;
  margin: 0;
  /* text-shadow: 1px 1px 5px whitesmoke ; */
}

.blurb-body {
  font-size: 1rem;
}

@media screen and (max-width: 435px) {
  .blurb-body {
    font-size: 0.8rem;
  }
}

.skills-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.skills-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.25em;
  text-align: center;
  margin-top: -0.25em;
}