.contact-wrapper {
  width: 98%;
}

.contact-heading {
  font-size: 3rem;
}

@media screen and (max-width: 750px) {
  
}

@media screen and (max-width: 550px) {
  .contact-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 435px) {
  .contact-heading {
    width: 80%;
    margin: 0 auto;
  }
}