body {
  min-height: 100vh;
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
  background-color: plum;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: rejova;
  src: url('./assets/fonts/Rejova.ttf');
}

.light {
  background-color: whitesmoke;
}

.dark {
  background-color: #222;
}