body {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: rejova;
  src: url('./assets/fonts/Rejova.ttf');
}

.light {
  background-color: whitesmoke;
}

.dark {
  background-color: #222;
}